<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Science Gateway Architectures Course</title>

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/components.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/icons.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/responsee.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/owl-carousel/owl.theme.css">
    <!-- CUSTOM STYLE -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/template-style.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&subset=latin,latin-ext'
          rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery-ui.min.js"></script>
</head>