<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Applied Distributed Systems</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 50px;
            padding-bottom: 20px;
        }
    </style>
    <link href="https://fonts.iu.edu/style.css?family=BentonSans:regular,bold|BentonSansCond:regular|GeorgiaPro:regular" media="screen" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap-theme.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
    <script src="{{ site.baseurl }}/assets/js/vendor/modernizr-2.6.2.js"></script>
</head>