    <div class="s-12 m-4 l-3">
        <div class="logo-box">
            <h1><a href="index.html">CSCI-B 649 <br/> Science Gateway Architectures</a></h1>
        </div>
        <div class="aside-nav">
            <ul class="chevron">
                <li class="course-menu">
                    <a><i class="icon-data_science"></i>Course</a>
                    <!--<ul class="chevron">-->
                        <!--<li><a href="index.html#course-overview">Overview</a></li>-->
                        <!--<li><a href="index.html#instructors">Instructors</a></li>-->
                        <!--<li><a href="index.html#prerequisites">Prerequisites</a></li>-->
                        <!--<li><a href="index.html#course-outline">Course Outline</a></li>-->
                        <!--<li><a href="index.html#student-teams">Student Teams</a></li>-->
                        <!--<li><a href="index.html#grading">Grading</a></li>-->
                        <!--<li><a href="index.html#open-collaboration">Open Collaboration</a></li>-->
                    <!--</ul>-->
                </li>
               <li><a href="lectures.html"><i class="icon-display_graph"></i>Lectures</a></li>
                <!--<li class="course-menu">-->
                    <!--<a><i class="icon-calendar"></i>Lectures</a>-->
                    <!--<ul class="chevron">-->
                        <!--<li><a href="lectures.html#class-1-&#45;&#45;august-23rd">Class 1</a></li>-->
                        <!--<li><a href="lectures.html#class-2-&#45;&#45;august-25th">Class 2</a></li>-->
                        <!--<li><a href="lectures.html#class-3-&#45;&#45;august-30th">Class 3</a></li>-->
                        <!--<li><a href="lectures.html#class-4-&#45;&#45;september-1">Class 4</a></li>-->
                        <!--<li><a href="lectures.html#class-5-&#45;&#45;september-6th">Class 5</a></li>-->
                        <!--<li><a href="lectures.html#class-6-&#45;&#45;september&#45;&#45;8th">Class 6</a></li>-->
                        <!--<li><a href="lectures.html#class-7-&#45;&#45;september&#45;&#45;13th">Class 7</a></li>-->
                        <!--<li><a href="lectures.html#class-8-&#45;&#45;september&#45;&#45;20th">Class 8</a></li>-->
                        <!--<li><a href="lectures.html#class-9-&#45;&#45;september&#45;&#45;22nd">Class 9</a></li>-->
                        <!--<li><a href="lectures.html#class-10-&#45;&#45;september&#45;&#45;27th">Class 10</a></li>-->
                        <!--<li><a href="lectures.html#class-11-&#45;&#45;september&#45;&#45;29th">Class 11</a></li>-->
                        <!--<li><a href="lectures.html#class-12-&#45;&#45;october-4th">Class 12</a></li>-->
                        <!--<li><a href="lectures.html#class-13-&#45;&#45;october-6th">Class 13</a></li>-->
                        <!--<li><a href="lectures.html#class-14-&#45;&#45;october-11th">Class 14</a></li>-->
                        <!--<li><a href="lectures.html#class-15-&#45;&#45;october-13th">Class 15</a></li>-->
                        <!--<li><a href="lectures.html#class-16-&#45;&#45;october-18th">Class 16</a></li>-->
                        <!--<li><a href="lectures.html#class-17-&#45;&#45;october-20th">Class 17</a></li>-->
                        <!--<li><a href="lectures.html#class-18-&#45;&#45;october-25th">Class 18</a></li>-->
                        <!--<li><a href="lectures.html#class-19-&#45;&#45;october-27th">Class 19</a></li>-->
                        <!--<li><a href="lectures.html#class-20-&#45;&#45;november-1st">Class 20</a></li>-->
                        <!--<li><a href="lectures.html#class-21-&#45;&#45;november-3rd">Class 21</a></li>-->
                        <!--<li><a href="lectures.html#class-22-&#45;&#45;november-8th">Class 22</a></li>-->
                        <!--<li><a href="lectures.html#class-23-&#45;&#45;november-10th">Class 23</a></li>-->
                        <!--<li><a href="lectures.html#class-24-&#45;&#45;november-15th">Class 24</a></li>-->
                        <!--<li><a href="lectures.html#class-25-&#45;&#45;november-17th">Class 25</a></li>-->
                        <!--<li><a href="lectures.html#class-26-&#45;&#45;november-29th">Class 26</a></li>-->
                        <!--<li><a href="lectures.html#class-27-&#45;&#45;december-1st">Class 27</a></li>-->
                        <!--<li><a href="lectures.html#class-28-&#45;&#45;december-6th">Class 28</a></li>-->
                        <!--<li><a href="lectures.html#class-29-&#45;&#45;december-8th">Class 29</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
                <li><a href="assignments.html"><i class="icon-upload"></i>Assignments</a></li>
                <li><a href="contact.html"><i class="icon-at"></i>Contact</a></li>
                <li><a href="https://github.com/airavata-courses" target="_blank"><i class="
    icon-git"></i>Source on Github</a></li>
                <li><a href="http://courses.airavata.org/spring2016/" target="_blank"><i
                        class="icon-information_white"></i>Spring 2016 Course</a></li>
                <li><a href="http://courses.airavata.org/fall2016" target="_blank"><i
                        class="icon-information_white"></i>Fall 2016 Course</a></li>
                <li><a href="http://courses.airavata.org/spring2017" target="_blank"><i
                        class="icon-information_white"></i>Spring 2017 Course</a></li>
            </ul>
        </div>
    </div>