
   <!--<a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>-->

    <!--<a class="sidebar-nav-item" href="https://github.com/airavata-courses" target="_blank">Course GitHub Repo</a>-->

<div class="">
  <div id="content-wrapper">
    <!-- LEFT COLUMN -->
    <div class="s-12 m-4 l-3">
      <div class="logo-box line">
                  <span class="s-12 m-3 l-3">
                     <img src="assets/img/airavata-logo.png">
                  </span>
        <span class="s-12 m-9 l-9">
                  <h1>CSCI-B 649 <br/> Science Gateway Architectures</h1>
                  </span>
      </div>
      <div class="aside-nav">
        <ul class="chevron">
          <li class="course-menu">
            <a><i class="icon-display_graph"></i>Course</a>
            <ul class="chevron">
              <li><a href="#overview">Overview</a></li>
              <li><a href="#instructors">Instructors</a></li>
              <li><a href="#prerequisites">Prerequisites</a></li>
              <li><a href="#course-outline">Course Outline</a></li>
              <li><a href="#student-teams">Student Teams</a></li>
              <li><a href="#resources">Resources</a></li>
              <li><a href="#grading">Grading</a></li>
              <li><a href="#open-collaboration">Open Collaboration</a></li>
              <li><a href="#acknowledgement">Acknowledgement</a></li>
            </ul>
          </li>
          <li><a href="lectures.html"><i class="icon-calendar"></i>Lectures</a></li>
          <li><a href="contact.html"><i class="icon-mail"></i>Contact</a></li>
          <li><a href="https://github.com/airavata-courses/I590-Spring2016" target="_blank"><i class="
icon-git"></i>Source on Github</a></li>
          <li><a href="https://github.com/airavata-courses/I590-Spring2016/issues" target="_blank"><i class="icon-information_white"></i>Issues</a></li>
        </ul>
      </div>
    </div>