

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    margin: 0;
    font-family: 'BentonSansRegular', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', sans-serif !important;
    font-size: 14px;
    line-height:1.75;
    font-style: normal;
    font-weight: 400;
    color: #191919 !important;
    background-color: #EDEBEB !important;
    padding: 0;
}

.main a:not(.btn){
    color: #990000 !important;
}

.main{
    padding: 2rem 0;
}

h1, h2, h3{
    font-family: 'BentonSansBold', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', sans-serif !important;
}

.page-header {
    /*font-size: 1.71429em;*/
    font-size: 2rem;
    font-family: 'BentonSansBold', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', sans-serif !important;
    font-style: inherit;
    color: #191919;
    letter-spacing: -0.01em;
    font-weight: 700;
    margin-bottom: 1rem;
}

.page-sub-header {
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 0;
    color: #191919 !important;
}

.iu-light-bg{
    background: #ffffff !important;
}

.iu-crimson-bg{
    background: #990000 !important;
}

.btn-iu-crimson{
    background: #990000 !important;
    color:#ffffff;
}

.btn-link-iu-crimson{
    color: #990000 !important;
    font-family: 'BentonSansBold', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', sans-serif !important;

}

.btn-link-iu-crimson:hover{
    text-decoration: underline;
}

.btn-iu-crimson:hover{
    background: #a70000 !important;
    color:#ffffff;
}

.iu-mahogany-bg{
    background: #4A3C31 !important;
}

.iu-text-container{
    width:50%;
}

.iu-footer-nav{
    border-top: 6px solid #7A1705;
    border-radius: 0;
}

.course-cards .card .card-title{
    margin-bottom: 0;
}

.lecture-cards .card .card-header{
    color:#fff;
}

.lecture-cards .card .card-subtitle{
    color:#c9c9c9 !important;
}















