{% extends "base.html" %}

{% block body %}
    <div class="main">
        <div class="jumbotron iu-light-bg">
            <div class="container">
                <div class="page-sub-header">Spring 2020</div>
                <div class="page-header">Projects</div>
                <p>Suspendisse rutrum vitae nulla at elementum. Ut eros diam, tincidunt non erat et, iaculis ornare mi.
                    Aenean at felis erat. Nullam auctor metus ac urna mattis viverra. Etiam quis lacus sed sapien ornare
                    malesuada a non quam. Donec felis dolor, aliquam sit amet est finibus, laoreet ultricies nisl.</p>
                <a href="http://courses.airavata.org//CS649Project1SubmissionTemplate.docx"
                   class="btn btn-sm btn-iu-crimson">Project report template</a>
            </div>
        </div>
        <div class="container">
            <div class="row lecture-cards">
                <div class="col-12 p-3">
                    <div class="card">
                        <div class="card-header iu-mahogany-bg">
                            <h5 class="card-title">Project 1</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Lorem ipsum dolor sit amet</h6>
                        </div>
                        <div class="card-body">
                            <span class="card-text"><small class="text-muted">TITLE</small></span>
                            <p class="card-text">Quisque laoreet nibh sed felis consectetur, ut vulputate eros cursus.
                                Vivamus elementum justo quis nunc mattis, ut cursus nulla aliquet.</p>
                            <span class="card-text"><small class="text-muted">DESCRIPTION</small></span>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi iaculis
                                convallis mattis. Duis gravida scelerisque metus eget tristique. Sed vulputate nisl nec
                                nibh hendrerit sodales. Nam euismod lectus id velit faucibus, a porta eros pharetra.
                                Proin risus ex, rutrum eu pharetra sit amet, efficitur quis lectus. Cras viverra dapibus
                                ex et convallis. Fusce eget pretium dui, quis ultricies libero. Donec suscipit metus
                                sem, sed tristique nisl scelerisque nec. Etiam purus quam, accumsan feugiat dictum nec,
                                fringilla ac dui. Maecenas egestas nisi nibh, sed lacinia libero consequat ut. Mauris
                                finibus metus eu mollis feugiat. Integer ornare libero sed vehicula suscipit.</p>
                            <span class="card-text"><small class="text-muted">TOPICS</small></span>
                            <ul>
                                <li>
                                    Introduce students to software as a service life cycle
                                </li>
                                <li>
                                    Introduce students to Distributed Systems
                                </li>
                                <li>
                                    Introduce students to Lecture Topics
                                </li>
                                <li>
                                    Introduce students to project Themes
                                </li>
                            </ul>
                            <a href="" class="btn btn-sm btn-link-iu-crimson">Overview Slides</a>
                            <a href="" class="btn btn-sm btn-iu-crimson text-light">View More</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-3">
                    <div class="card">
                        <div class="card-header iu-mahogany-bg">
                            <h5 class="card-title">Project 2</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Lorem ipsum dolor sit amet</h6>
                        </div>
                        <div class="card-body">
                            <span class="card-text"><small class="text-muted">TITLE</small></span>
                            <p class="card-text">Quisque laoreet nibh sed felis consectetur, ut vulputate eros cursus.
                                Vivamus elementum justo quis nunc mattis, ut cursus nulla aliquet.</p>
                            <span class="card-text"><small class="text-muted">DESCRIPTION</small></span>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi iaculis
                                convallis mattis. Duis gravida scelerisque metus eget tristique. Sed vulputate nisl nec
                                nibh hendrerit sodales. Nam euismod lectus id velit faucibus, a porta eros pharetra.
                                Proin risus ex, rutrum eu pharetra sit amet, efficitur quis lectus. Cras viverra dapibus
                                ex et convallis. Fusce eget pretium dui, quis ultricies libero. Donec suscipit metus
                                sem, sed tristique nisl scelerisque nec. Etiam purus quam, accumsan feugiat dictum nec,
                                fringilla ac dui. Maecenas egestas nisi nibh, sed lacinia libero consequat ut. Mauris
                                finibus metus eu mollis feugiat. Integer ornare libero sed vehicula suscipit.</p>
                            <span class="card-text"><small class="text-muted">TOPICS</small></span>
                            <ul>
                                <li>
                                    Introduce students to software as a service life cycle
                                </li>
                                <li>
                                    Introduce students to Distributed Systems
                                </li>
                                <li>
                                    Introduce students to Lecture Topics
                                </li>
                                <li>
                                    Introduce students to project Themes
                                </li>
                            </ul>
                            <a href="" class="btn btn-sm btn-link-iu-crimson">Overview Slides</a>
                            <a href="" class="btn btn-sm btn-iu-crimson text-light">View More</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-3">
                    <div class="card">
                        <div class="card-header iu-mahogany-bg">
                            <h5 class="card-title">Project 3</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Lorem ipsum dolor sit amet</h6>
                        </div>
                        <div class="card-body">
                            <span class="card-text"><small class="text-muted">TITLE</small></span>
                            <p class="card-text">Quisque laoreet nibh sed felis consectetur, ut vulputate eros cursus.
                                Vivamus elementum justo quis nunc mattis, ut cursus nulla aliquet.</p>
                            <span class="card-text"><small class="text-muted">DESCRIPTION</small></span>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi iaculis
                                convallis mattis. Duis gravida scelerisque metus eget tristique. Sed vulputate nisl nec
                                nibh hendrerit sodales. Nam euismod lectus id velit faucibus, a porta eros pharetra.
                                Proin risus ex, rutrum eu pharetra sit amet, efficitur quis lectus. Cras viverra dapibus
                                ex et convallis. Fusce eget pretium dui, quis ultricies libero. Donec suscipit metus
                                sem, sed tristique nisl scelerisque nec. Etiam purus quam, accumsan feugiat dictum nec,
                                fringilla ac dui. Maecenas egestas nisi nibh, sed lacinia libero consequat ut. Mauris
                                finibus metus eu mollis feugiat. Integer ornare libero sed vehicula suscipit.</p>
                            <span class="card-text"><small class="text-muted">TOPICS</small></span>
                            <ul>
                                <li>
                                    Introduce students to software as a service life cycle
                                </li>
                                <li>
                                    Introduce students to Distributed Systems
                                </li>
                                <li>
                                    Introduce students to Lecture Topics
                                </li>
                                <li>
                                    Introduce students to project Themes
                                </li>
                            </ul>
                            <a href="" class="btn btn-sm btn-link-iu-crimson">Overview Slides</a>
                            <a href="" class="btn btn-sm btn-iu-crimson text-light">View More</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
