<!DOCTYPE html>
<html class="no-js">

{% include head.html %}

<body>

<nav class="navbar fixed-top navbar-expand-lg navbar-dark iu-crimson-bg">
    <div class="container">
        <a class="navbar-brand" href="/"><img src="{{ site.baseurl }}/assets/images/trident-large.png" height="30" class="d-inline-block align-top" alt=""> courses.airavata.org </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <ul class="navbar-nav mr-2">
                    <li class="nav-item">
                        <a class="nav-link
            active" href="/">Course</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link
            " href="/lectures/">Lectures</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link
            " href="/projects/">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link
            " href="/contact/">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://github.com/airavata-courses" target="_blank" class="btn btn-sm btn-outline-light my-sm-0" type="submit">Source on Github</a>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</nav>

{{ content }}

<footer>
    <nav class="navbar navbar-light bg-light iu-footer-nav">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="{{ site.baseurl }}/assets/images/iu-sig-formal.svg" height="30" class="d-inline-block align-top" alt="">
            </a>
            © Copyright 2021
        </div>
    </nav>
</footer>


<script src="{{ site.baseurl }}/assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/vendor/bootstrap.js"></script>
<script src="{{ site.baseurl }}/assets/js/main.js"></script>
</body>

{% include google_analytics.html %}

</html>